{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Weebs. Chat</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav
        class="border-b-[1px] border-[var(--color-secondary)] cont flex justify-around items-center h-[80px]"
      >
        <div class="">
          <p class="text-2xl font-bold text-white">
            <a href="{% url 'index' %}"
              >Weeb.
              <span class="text-blue-500"
                >Chat <i class="fa-regular fa-message"></i></span
            ></a>
          </p>
        </div>
        <div class="flex gap-[1em]">
          <p>Welcome, {{ user.username }}</p>
        </div>
      </nav>

      <div class="h-[calc(100vh-80px)] grid grid-cols-[1fr_3fr]">
        <aside
          class="flex flex-col gap-[1em] border-r-[1px] border-[var(--color-secondary)] p-[1em] items-center justify-between"
        >
          <div class="flex flex-col items-center gap-[1em] w-full">
            <p
              class="flex items-center gap-[1em] hover:bg-[var(--color-secondary)] hover:text-white p-2 w-full"
            >
              <i class="fa-solid fa-comment"></i>
              <a href="{% url 'chatrooms' %}">ChatRooms</a>
            </p>

            <p
              class="flex items-center gap-[1em] hover:bg-[var(--color-secondary)] hover:text-white p-2 w-full"
            >
              <i class="fa-solid fa-comment"></i>
              <a href="{% url 'index' %}">Your Rooms</a>
            </p>

            <p
              class="flex items-center gap-[1em] hover:bg-[var(--color-secondary)] hover:text-white p-2 w-full"
            >
              <i class="fa-solid fa-comment"></i>
              <a href="{% url 'index' %}">Create Room</a>
            </p>
          </div>

          <div class="flex items-center gap-[1em] mb-[2em]">
            <a href="{% url 'logout' %}"
              ><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a
            >
          </div>
        </aside>
        <main class="relative flex flex-col gap-[1em]">
          <div class="flex flex-col gap-[1em]">
            <h3 class="text-2xl font-bold text-center mb-[1em] mt-[1em]">
              Programmers <span class="text-blue-500">Room</span>
            </h3>

            <div class="flex flex-col gap-[1em]">
              <div class="messages-cont">
                <div
                  class=" message flex w-fit px-4 py-2 items-center border border-[var(--color-secondary)] text-white"
                >
                  <p class=" name font-bold text-[.9em]">Johh</p>
                  <p>
                    hello there my name is John Doe Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Cumque error obcaecati nisi
                    quisquam explicabo harum recusandae consequatur facilis quis
                    possimus praesentium, reiciendis repellat vel eaque numquam
                    magnam? Quis est veritatis doloribus, ratione sunt fuga,
                    alias facere nesciunt enim ex iusto ullam officia ut, hic sed
                    libero laborum? Temporibus, obcaecati mollitia.
                  </p>
                </div>

               
               
      

              <form
                action=""
                class="absolute bottom-[2em] w-full flex gap-[1em] items-center justify-center"
                method="post"
              >
                {% csrf_token %}
                <input
                  type="text"
                  placeholder="Type your message here..."
                  name="message"
                  id=""
                  max="50"
                  class="outline-none w-[60%] p-4 border border-gray-300 rounded bg-transparent"
                />
                <button
                  type="submit"
                  class="p-2 rounded h-full px-4 py-2 font-semibold bg-[var(--color-secondary)] text-white"
                >
                  Send
                </button>
              </form>
            </div>
          </div>
        </main>
      </div>
    </header>

    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
